  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Introduction</h1>
      <p>
        For this project I wish to develop OCR for television news in a tri-phased implementation model. The first phase will be consist of successfully detecting text regions from videos. For this I intend to use OpenCv to detect specific features that are unique to each of the mentioned languages. EX( Detecting repeated occurrences of a horizontal line to detect text regions for Hindi and Bengali. Detecting strips having two or three colours of high contrast) The next phase would involve developing an algorithm for eliminating any duplicate texts detected. Ex: In a breaking news video. The title breaking news and the news headlines will have to appear in several frames and will thus have to be filtered to remove redundancies. The third phase would involve the actual Optical Character Recognition script using Long Short Term Memory (LSTM) implementation of RNNs.
      </p>
    </div>
  </div>
  <div class ="container">
